<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login to View Protected Images</title>
</head>
<body>
<h1>Login to View Protected Images</h1>

<form action="/protected-view" method="get">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <button type="submit">Login</button>
</form>

</body>
</html>
